.container {
    display: flex;
}

.c_display {
    /* position: absolute;
    top: 0%;
    left: 0; */
    display: inline-block;
    width: 100px;
    height: 40px;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    color: white;
    font-size: 20;
    margin: 20px;
    padding: 5px;
}

.red {
    padding: 5px;
    margin-right: 5px;
    display: inline-block;
    width: 40px;
    height: 30px;
    background-color: red;
    color: black;
    font-size: 18px;
    border-radius: 80%;
    text-align: center;
}